<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Little's up</title>
  <script src="../static/js/jquery-3.6.1.min.js"></script>
  <script src="../static/js/bootstrap.bundle.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css"/>
  <link rel="stylesheet" href="../static/css/bootstrap-grid.css"/>
  <link rel="stylesheet" href="../static/css/bootstrap-reboot.css"/>
</head>
<body>
<h2>选择一个文件哦！</h2>
<form action="/upload.php" method="POST" enctype="multipart/form-data">
<input type="file" name="file" class="btn-primary rounded-pill">
  <input type="button" value="upload" class="btn-warning rounded-pill">
</form>

</body>
</html>